<!DOCTYPE html>
<html
  lang="tr"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title><%= site.title %> - <%= page_name %></title>

    <meta name="description" content="<%= site.description %>" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="<%= site.logo %>" />
    <meta name="keywords" content="<%= site.keywords %>" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/page-auth.css" />
    <link rel="stylesheet" href="/assets/vendor/css/pages/page-misc.css">
    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.3/imask.min.js" integrity="sha512-yJ3vm1HmQtcgeMtbUYCp7PuTLyjU+ffCnVNTuE1Uccv1BmkoaJIXt1EjBVGnscjCILc62hTJJJ2rJJBTcw8RjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      /*
        GitHub: https://github.com/fastuptime
        Site: https://fastuptime.com
        Yap覺mc覺: Can
        R10: https://www.r10.net/profil/156201-bycaner.html
        Discord: https://fastuptime.com/discord
      */
     console.log("%cFastUptime", "color: #fff; background: #000; font-size: 20px; padding: 5px 10px; border-radius: 5px; text-align: center; font-weight: bold;");
     console.log("%cGitHub: github.com/fastuptime", "color: #fff; background: #000; font-size: 15px; padding: 5px 10px; border-radius: 5px; text-align: center; font-weight: bold;");
     console.log("%cSite: fastuptime.com", "color: #fff; background: #000; font-size: 15px; padding: 5px 10px; border-radius: 5px; text-align: center; font-weight: bold;");
     console.log("%cYap覺mc覺: Can", "color: #fff; background: #000; font-size: 15px; padding: 5px 10px; border-radius: 5px; text-align: center; font-weight: bold;");
     console.log("%cR10: r10.net/profil/156201-bycaner.html", "color: #fff; background: #000; font-size: 15px; padding: 5px 10px; border-radius: 5px; text-align: center; font-weight: bold;");
     console.log("%cDiscord: fastuptime.com/discord", "color: #fff; background: #000; font-size: 15px; padding: 5px 10px; border-radius: 5px; text-align: center; font-weight: bold;");
     console.log("%cFastUptime", "color: #fff; background: #000; font-size: 20px; padding: 5px 10px; border-radius: 5px; text-align: center; font-weight: bold;");
    </script>
  </head>